<web-app>

  <display-name>Kayenet Enterprise</display-name>

  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>kayenet.Login</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>

  <context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
       D:\Apache Software Foundation\Tomcat 9.0\webapps\kayenet\images\
    </param-value> 
  </context-param>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

 </web-app>